.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.toolbar-contents{
  display: flex;
  justify-content: center;
  width: 100%;
}

.toolbar-title{
    display: flex; 
    justify-content: left;
    color: black;
    font-size: 27px;
    margin-top: 27px;
    cursor: pointer;
}

.search-bar-container{
  margin-left: 360px;
}
