.books-container{
    display: grid;
    grid-template-columns: 580px 580px 580px;
    justify-content: space-between;
    gap: 5px;
}

.bookscards-price{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
