

.result-text{
    display: flex;
    justify-content: center;
    margin-right: 650px;
    font-size: 20px;
    opacity: 50%;
}

.books-container{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    justify-content: space-between;
    gap: 5px;
}

.bookscards-price{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.books-results-filter-content{
    display: flex;
    justify-content: center;
}

.check-box-title{
    font-size: 20px;
}

.check-box-section{
    margin-top: 10px;
    margin-right: 20px;
    width: 200px;
}

.check-box-filter-list{

    display: grid;
    justify-content: left;
    margin-right: 10px;
}


